<ion-view view-title="Categorias">
 <ion-content>
     <div class="list">

      <a class="item item-icon-left item-list-category color-1" href="#">
         <div  class="icon-logo-category" >
              <div class="icon-algins ion-waterdrop"></div>
          </div>
            <span class="text-item-list">Contaminacion hidrica</span>
      </a>
         
     <a class="item item-icon-left item-list-category color-3" href="#">
         <div  class="icon-logo-category" >
              <div class="icon-algins fa fa-tree" aria-hidden="true"></div>
          </div>
            <span class="text-item-list">Deforestacion</span>
      </a>
         

      <a class="item item-icon-left item-list-category color-2" href="#">
         <div  class="icon-logo-category" >
              <div class="icon-algins ion-ios-paw"></div>
          </div>
            <span class="text-item-list">Caza de animales</span>
      </a>
         
    
     <a class="item item-icon-left item-list-category color-4" href="#">
         <div  class="icon-logo-category" >
              <div class="icon-algins ion-earth"></div>
          </div>
            <span class="text-item-list">General</span>
      </a>        
    </div>
 </ion-content>
</ion-view>
