<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">{{data.title}}</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <img ng-src="http://d3ustg7s7bf7i9.cloudfront.net/mmediafiles/pl/a7/a754599e-efe4-4a1d-a989-c022884b6908_749_499.jpg" class="image-in-modal">
      <div class="card">
          <div class="item item-text-wrap">
            {{data.body}}
          </div>
      </div>
        <center>
        <div ng-click="modal.hide()">Cerrar</div>
        </center>
    </form>
  </ion-content>
</ion-modal-view>