<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Guardar informacion</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
          <label class="item item-input">
            <span class="input-label">Titulo</span>
            <input ng-model="alert.title_alert" type="text">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Categoria
            </div>
            <select ng-model="alert.category">
              <option value="1" selected>Contaminacion hidrica</option>
              <option value="2">Caza de animales</option>
              <option value="3">Deforestacion</option>
            </select>
          </label>

        <label class="item item-input">
          <span class="input-label">Descripcion</span>
          <textarea ng-model="alert.description_alert"></textarea>    
        </label>
          
        <label class="item">
          <button class="button button-block button-dark" type="submit">Guardar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
